    @model MedicineStore.Models.Category
    @{
        ViewData["Title"] = "Delete Category";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <h2>Delete Category</h2>
    <h4>Are you sure you want to delete this?</h4>
    <dl class="row">
    <dt class='col-sm-3'>CategoryName</dt><dd class='col-sm-9'>@Model.CategoryName</dd>
<dt class='col-sm-3'>Description</dt><dd class='col-sm-9'>@Model.Description</dd>
    </dl>
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="CategoryId" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
